body {
    margin: 0;
    background-color: black;
}

h1 {
    text-align: center;
    margin-top: 15vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 92pt;
}

button{
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: black;
    border: 5px white solid;
    border-radius: 50px;
    display: inline-block;
    font-family: Arial;
    font-weight: 600;
    position: relative;
    overflow: hidden;
    width: 500px;
    height: 100px;
    font-size: 40pt;
    text-align: center;
    cursor: pointer;
}

button:before {
    content: "";
    background-color: white;
    height: 100%;
    width: 80px;
    display: block;
    position: absolute;
    top: 0;
    left: -170px;
    transform: skewX(-45deg) translateX(0px);
    transition: none;
}

button:hover:before{
    transform: skewX(-45deg) translateX(540px);
    transition: all 0.4s ease-in;
}